<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="connStr" connectionString="Data Source=teacherhelper.cirrxhfo5fbc.us-west-2.rds.amazonaws.com;Initial Catalog=TeacherHelper;Integrated Security=False;User ID=rastsc;Password=3nerdyguys;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off" />
		<authentication mode = "None" />
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime/>
	</system.web>
</configuration>